
.calculatrice {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 350px;

}



.touches {
    

    
    
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    

    
}

.ecran {

    background-color: black;
    height: 100px;
    width: 100%;
    color: white;
    font-size: 40px;
    text-align: end;
    border: 1px solid black;
}

.egal {
    background-color: cornflowerblue;
    color: cornsilk;
}

.ac {
    background-color: red;
    color: white;
}

.bouton--color {
    color: cadetblue;
    font-weight: bold;

}

button {

    width: 100px;
    height:100px;
    margin: 5px;
    font-weight: bold;
}




